@media all {
#afui {
  .wrapping-col > .button-margin,
  .wrapping-col > .afScrollPanel > .button-margin {  margin-left:10px;
  }
  
  .wrapping-col > .button-margin,
  .wrapping-col > .afScrollPanel > .button-margin {  margin-left:10px;
  }
  
  .button-margin {  margin-top:1em;
  }
  
  
}
}

