body {
    height: 100%;
    overflow: hidden;
}

html {
    height: 100%;
}

.galleria {
    height: 60%;
}

.painter {
    width: 50;
    height: 60%;
    border: 2px solid white;
    scrolling: no;
}

#tmp_canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	cursor: crosshair;
    scrolling: no;
}

::-webkit-scrollbar {
    display: none;
}